<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="static\css\login_reg.css">
</head>
<body>
	<form id="loginForm">
		<label for="email">Email/Username:</label>
		<input type="text" id="email" name="email">
		<label for="password">Password:</label>
		<input type="password" id="password" name="password">
		
		<input type="checkbox" id="rememberMe" name="rememberMe" value="true">
			<label for="rememberMe">Remember me</label>
		
		<input type="submit" value="Login">
	</form>

	<script src="script.js"></script>
</body>
</html>